// Form
#form-input {
  width: 500px;
  height: 300px;
  border: 2px solid darkslategrey;
  border-radius: 10px;
  display: flex;
  // display: none;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: rgba(111, 255, 223, 0.8);

  button {
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
  }

  button:hover {
    background-color: darkcyan;
  }
}

.input-format {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;

  p {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
  }
}

.input {
  height: 30px;
}
