* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  // background-color: paleturquoise;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
